<h2 mat-dialog-title [hidden]="this.editHidden === true">Edit Profile</h2>
<mat-dialog-content *ngIf="this.user !== undefined" class="profile-form">
  <div [hidden]="this.editHidden === false" class="profile-view">
    <div class="profile-view-name">
      <div>
        <h3>{{this.user?.name}} {{this.user?.lastName}}</h3>
        <h5>{{this.user?.email}}</h5>
      </div>
      <div>
        <button mat-button (click)="edit()">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <!--<div class="button">
      <button type="button" (click)="edit()" mat-button>Edit</button>
    </div>-->
    </div>
    <mat-divider></mat-divider>
  </div>
  <div class="con-form" [hidden]="this.editHidden === true">
    <form #editProfileForm="ngForm" (ngSubmit)="save()">
      <p>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="this.editUser.name" name="first" placeholder="Name" required>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Last name</mat-label>
          <input matInput [(ngModel)]="this.editUser.lastName" name="last" placeholder="LastName" required>
        </mat-form-field>
      </p>
      <div class="buttons">
        <button type="submit" mat-button>Save</button>
        <button type="button" mat-button (click)="cancal()">Cancel</button>
      </div>
    </form>
  </div>
</mat-dialog-content>
