<div class="header">

  <div class="text-choose-group">
    Choose a group (room):
  </div>

  <div>
    <button mat-button class="btn" (click)="openAddGroupForm()">
      <mat-icon>add</mat-icon>
      Create group
    </button>

    <button mat-button class="btn" (click)="joinGroupForm()">
      <mat-icon>groupe</mat-icon>
      Join group
    </button>
  </div>
</div>

<div class="mat-elevation-z8">
  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <table mat-table class="full-width-table" matSort aria-label="List-rooms">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="dateOfCreation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of creation</th>
      <td mat-cell *matCellDef="let row" style="color:darkgray">{{row.dateOfCreation | date:'short'}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell class="text-end" *matHeaderCellDef mat-sort-header></th>
      <td mat-cell class="text-end" *matCellDef="let row">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="getRoomDetails(row)">
            <mat-icon>info</mat-icon>
            <span>Details</span>
          </button>
          <button mat-menu-item (click)="changeRoomName(row.id)">
            <mat-icon>edit</mat-icon>
            <span>Change name</span>
          </button>
          <button mat-menu-item (click)="leaveGroupe(row)">
            <mat-icon>group_off</mat-icon>
            <span>Leave group</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"
        (click)="nextStepForOpenDocument(row)"></tr>
  </table>

  <mat-paginator #paginator
                 [length]="dataSource?.lenght"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[ 5, 10, 15]">
  </mat-paginator>
</div>
