<button mat-button [matMenuTriggerFor]="menu">
  <mat-icon>account_circle</mat-icon>
    <span style="font-size:16px">   {{user == null? "" : user.name}}</span>
    <!--<i class="fa fa-user-circle"></i>-->
</button>
<mat-menu #menu="matMenu">
  <div class="div-user-details">
    <h5><b>{{this.user?.name}} {{this.user?.lastName}}</b></h5>
    {{this.user?.email}}
  </div>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="openProfile()">
    <mat-icon>person</mat-icon>
    My Profile
  </button>
  <button mat-menu-item (click)="openProfile()">
    <mat-icon>edit</mat-icon>
    Edit profile
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-menu>
