<h2 mat-dialog-title>
  Room details
  <mat-divider></mat-divider>
</h2>
<mat-dialog-content class="details-content">
  <table>
    <tr class="basic-info">
      <td class="font-20">
        Name: <strong>{{room.name}}</strong>
      </td>
      <td class="font-20">
        Key: <strong>{{room.name}}.{{room.id}}</strong>
      </td>
    </tr>
    <tr>
      <td class="font-20">
        Date of creation: <strong>{{room.dateOfCreation | date:'short'}}</strong>
      </td>
      <td>
      </td>
    </tr>
  </table>
  <br />
  <mat-divider></mat-divider>
  <br />
  <h5>Documents:</h5>

  <app-list-documents [showActionButtons]="showBtns" [roomID]="room.id"></app-list-documents>

  <br />
  <mat-divider></mat-divider>
  <br />
  <h5>Users:</h5>
  <app-list-users [roomID]="room.id"></app-list-users>

</mat-dialog-content>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</div>
