<h2 mat-dialog-title>Room details</h2>
<mat-dialog-content class="mat-typography">
  <table>
    <tr class="basic-info">
      <td style="font-size: 14px">
        Name: <strong>{{room.name}}</strong>
      </td>
      <td style="font-size: 14px">
        Key: <strong>{{room.name}}.{{room.id}}</strong>
      </td>
    </tr>
    <tr>
      <td style="font-size: 14px">
        Date of creation: <strong>{{room.dateOfCreation | date:'short'}}</strong>
      </td>
      <td>
      </td>
      <mat-divider></mat-divider>
    </tr>
  </table>
  <h3>Documents:</h3>
  <app-list-documents [showActionButtons]="showBtns" [room]="room"></app-list-documents>

  <h3>Users:</h3>
  <app-list-users [roomID]="room.id"></app-list-users>

</mat-dialog-content>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</div>
