<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" (click)="this.router.navigate(['/home']);">MindMaps</a>  <!--[routerLink]="['/home']"-->
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow" [hidden]="!loggedin()">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" (click)="this.router.navigate(['/home']);">Home</a>
          </li>
          <li style="border-right: solid 1px #dbdbdb">
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon>arrow_drop_down</mat-icon>
              <mat-icon>group</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openAddGroupForm()">
                <mat-icon>group_add</mat-icon>
                Create group
              </button>
              <button mat-menu-item (click)="joinGroupForm()">
                <mat-icon></mat-icon>
                Join group
              </button>
            </mat-menu>
          </li>
          <!--<li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link text-dark" [routerLink]="['/counter']">Counter</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Fetch data</a>
      </li>-->
          <li>
            <app-menu></app-menu>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
