<h2 mat-dialog-title>My Profile</h2>
<mat-dialog-content *ngIf="this.user !== undefined" class="profile-form">
  <div [hidden]="this.editHidden === false">

    <h2>{{this.user?.name}} {{this.user?.lastName}}</h2>
    <h5>{{this.user?.email}}</h5>

    <div class="button">
      <button type="button" (click)="edit()" mat-button>Edit</button>
    </div>
  </div>
  <div class="con-form" [hidden]="this.editHidden === true">
    <form #editProfileForm="ngForm" (ngSubmit)="save()">
      <p>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="this.editUser.name" name="first" placeholder="Name" required>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Last name</mat-label>
          <input matInput [(ngModel)]="this.editUser.lastName" name="last" placeholder="LastName" required>
        </mat-form-field>
      </p>
      <div class="buttons">
        <button type="submit"  mat-button>Save</button>
        <button type="button" mat-button (click)="cancal()" >Cancel</button>
      </div>
    </form>
  </div>

</mat-dialog-content>
