<mat-card>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Login">
      <mat-card-content>
        <form (ngSubmit)="submit()">
          <br>
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Username">
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <mat-label>Enter your password</mat-label>
              <input [type]="hide ? 'password' : 'text'" matInput placeholder="Password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon class="mat-icon-visibility">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </p>

          <p *ngIf="error" class="error">
            {{ error }}
          </p>

          <div class="button">
            <button type="submit" mat-button>Login</button>
          </div>

        </form>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="Registar">
      <mat-card-content>
        <form (ngSubmit)="submit()">
          <br>
          <p>
            <mat-form-field>

              <input type="text" matInput placeholder="Username">
            </mat-form-field>
          </p>

          <p>
           
          </p>

          <p>
            <mat-form-field>
              <mat-label>Enter your password</mat-label>
              <input [type]="hide ? 'password' : 'text'" matInput placeholder="Password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon class="mat-icon-visibility">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </p>

          <p *ngIf="error" class="error">
            {{ error }}
          </p>



          <div class="button">
            <button type="submit" mat-button>Sign up</button>
          </div>

        </form>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>
