
<div #graphContainer id="graphContainer" style="width: 100%;">
  <app-sidebar></app-sidebar>

  <div style="display: flex; flex-direction: column; width: 100%;">
    <app-toolbar></app-toolbar>

    <div class="graph-content"></div>
  </div>

</div>
<!-- <mxEditor></mxEditor> -->
<!-- <div className="editor-container">
    <Layout>
      <Sider width="235" theme="light">
        <Sidebar key="sidebar" editor={editor} />
      </Sider>
      <Content>
        <div className="graph-inner-container">
          {editor ? (
            <Toolbar
              editor={editor}
              updateDiagramData={this.updateDiagramData}
            />
          ) : null}
          <div className="graph-content" key="graphcontent" />
        </div>
      </Content>
    </Layout>
  </div> -->
