
<p>chat works!</p>

<input id="text" />
<button (click)="onClick()">Posalji</button>


<!--
<ul>
  <li *ngFor="let message of serviceSignalR.bradcastedData">

    <h3>
      {{ message.Name }}
    </h3>

  </li>
</ul>

  -->
  <ng-chat *ngIf="adapter && adapter.userId"
  
  [groupAdapter]="adapter"
  [userId]="adapter.userId"
  [historyEnabled]="false"
  [pollFriendsList]="true"
  [theme]="currentTheme"
  (onParticipantClicked)="onEventTriggered('ParticipantClicked triggered')"
  (onParticipantChatOpened)="onEventTriggered('ParticipantChatOpened triggered')"
  (onParticipantChatClosed)="onEventTriggered('ParticipantChatClosed triggered')"
  (onMessagesSeen)="onEventTriggered('MessageSeen triggered')">

</ng-chat>